<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer-top">
				<div class="footer-logo">
					<img src="img/logob.png" alt="Logo">
					<div class="social">
						<a href="#"><img src="img/twitter-logo.png" alt="Twitter"></a>
						<a href="#"><img src="img/facebook-logo.png" alt="Facebook"></a>
						<a href="#"><img src="img/instagram-logo.png" alt="Instagram"></a>
						<a href="#"><img src="img/linkedin.png" alt="Linkedin"></a>
						<a href="#"><img src="img/email.png" alt="Email"></a>
					</div>
					<div class="support">
						<a href="#"><img src="img/tasmu.png" alt="support"></a>
						<span>With the support<br> of Tasmu</span>
					</div>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Out Philosophy</a></li>
						<li><a href="#">Objectives of the Lab</a></li>
						<li><a href="#">Innovation Management Process</a></li>
						<li><a href="#">Focus Areas</a></li>
						<li><a href="#">Innovation Spaces</a></li>
						<li><a href="#">Ilab Team</a></li>
						<li><a href="#">CO-Founders</a></li>
						<li><a href="#">Technology Partners</a></li>
					</ul>
					<ul>
						<li><a href="#">Project and Team</a></li>
						<li><a href="#">Our Projects</a></li>
					</ul>
					<ul>
						<li><a href="#">Activities</a></li>
						<li><a href="#">Blogs</a></li>
						<li><a href="#">Events</a></li>
					</ul>
				</div>
				<div class="footer-subscr">
					<p>Subscribe to Our Newsletter</p>
					<form>
						<input type="email" name="e-mail" placeholder="youremail@gmail.com" required>
						<button>Subscribe</button>
					</form>
				</div>
			</div>
			<div class="footer-bot">
				<a href="">2018 Innovation Lab</a>
				<a href="">Terms and Conditions</a>
				<a href="">Site Disclaimer</a>
				<a href="">Site Map</a>
			</div>
		</div>
	</div>
</footer>
