<section class="form form_con	">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h3>Contact <span class="cyan">us</span></h3>
				<form>
					<label>
						Name
						<input type="text" name="name" placeholder="Your Name" required>
					</label>
					<label>
						Email Adress
						<input type="email" name="email" placeholder="Enter your email" required>
					</label>
					<label>
						Mobile Number
						<input type="tel" name="phone" placeholder="Enter number" required>
					</label>
					<label>
						Message
						<textarea placeholder="Text message"></textarea>
					</label>
					<button>
						<svg xmlns="http://www.w3.org/2000/svg" width="128" height="35" viewBox="0 0 128 35" fill="none">
							<path d="M9.01313 1.47042L0.419227 15.9704C-0.139743 16.9135 -0.139742 18.0865 0.419228 19.0296L9.01314 33.5296C9.55336 34.4411 10.5343 35 11.5939 35H115.431C116.491 35 117.472 34.4411 118.012 33.5296L126.606 19.0296C127.165 18.0865 127.165 16.9135 126.606 15.9704L118.012 1.47042C117.472 0.558923 116.491 0 115.431 0H11.5939C10.5343 0 9.55336 0.558923 9.01313 1.47042Z"
							  fill="white" />
						</svg>
						Send
					</button>
				</form>
			</div>
			<div class="col-md-5">
				<div class="iframe-wrap">
					<img src="img/exclude.png" alt="">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.729424313799!2d51.517048915472216!3d25.313293283842288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c4cc3957eba5%3A0xfdecdd3e220aaca9!2sAl+Nasr+Tower+B%2C+Doha!5e0!3m2!1sen!2sqa!4v1540292951738"
					  frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="img/rect.png" alt="parallax">
			<img src="img/square.png" alt="parallax">
		</div>
	</div>
</section>