<section class="form form_con	">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h3>Contact <span class="cyan">us</span></h3>
				<form>
					<label>
						Name
						<input type="text" name="name" placeholder="Your Name" required>
					</label>
					<label>
						Email Adress
						<input type="email" name="email" placeholder="Enter your email" required>
					</label>
					<label>
						Mobile Number
						<input type="tel" name="phone" placeholder="Enter number" required>
					</label>
					<label class="frnw">
						CV
						<input type="file" name="CV">
						<div class="btn-plus">
							<i class="fas fa-plus"></i>
						</div>
					</label>
					<label>
						Message
						<textarea placeholder="Text message"></textarea>
					</label>
					<button>Send</button>
				</form>
			</div>
			<div class="col-md-5">
				<div class="iframe-wrap">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115443.24314775376!2d51.44195680323307!3d25.28399256750881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c534ffdce87f%3A0x44d9319f78cfd4b1!2z0JTQvtGF0LAsINCa0LDRgtCw0YA!5e0!3m2!1sru!2sua!4v1539323795333"
					  frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="img-parallax">
			<img src="img/rect.png" alt="parallax">
			<img src="img/square.png" alt="parallax">
		</div>
	</div>
</section>