<section class="cont ">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="line-center">Innovation Lab Philosophy</h2>
			</div>
			<div class="cont-i col-md-6 wow fadeInRight animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
				<div class="t-b">
					<h3>TASMU Innovation Lab places innovation <span class="cyan">at the heart of Qatar’s challenges.</span></h3>
					<p>The frequent and long charging times of lowenergy density, bulky and expensive batteries are major obstacles to widespread Electric Vehicles (EV) commercialization that must be overcome to challenge the 300-mile range of gasoline-powered
						vehicles. This problem can be solved through wireless power transfer technology, categorized as stationary and dynamic, in which EVs can be charged via electromagnetic induction without connecting a cable. To realize an EV dynamic charging
						system, several challenges need to be well investigated.</p>
					<p>For energy management, each EV should reserve dynamic charging service that requires route planning and secure payment system, while maintaining the privacy of the EV’s drives. This proposal aims to develop a comprehensive secure
						communication and payment infrastructure for an EV dynamic charging system.</p>
				</div>
			</div>
			<div class="cont-i col-md-6 text-center wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
				<img src="img/pick1.jpg" alt="">
			</div>
			<div class="cont-i col-md-6 text-center wow fadeInLeft animated order-2 order-md-1" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
				<img src="img/pick2.jpg" alt="">
			</div>
			<div class="cont-i col-md-6 wow fadeInLeft animated order-1 order-md-2" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
				<div class="t-b">
					<h3>Mandate</h3>
					<p>Raise the profie of Qatar as a technology innovation hub that focuses on enhancing Digital transformation to serve national priorities and stimulate the local innovation ecosystem to deliver national outcomes</p>
					<h3>Mission</h3>
					<p>As a space the Innovation lab houses three important area; Demos will displayed to emphasize the latest tech in a particular industry or a sector to encourage researchers, government entities to think big.</p>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="img/rect.png" alt="parallax">
			<img src="img/square.png" alt="parallax">
			<img src="img/square.png" alt="parallax">
		</div>
	</div>
</section>