<section class="focus-a">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
        <h2 class="line-center">FOCUS AREAS</h2>
        <p>In essence, this capability is about bringing a lean model and practical approach to help priority sectors innovate around their key challenges, from ideas to outcomes</p>
      </div>
      <div class="col-lg-10 wow fadeInUp animated" data-wow-duration="2.5s" style="visibility: visible;-webkit-animation-duration: 2.5s; -moz-animation-duration: 2.5s; animation-duration: 2.5s;">
        <div class="focus-a-b">
          <div class="focus-a-b__item">
            <h3>Foundational Technologies</h3>
            <div class="focus-a-f-1">
              <div class="focus-a-f-1__item">
                <img class="wow fadeInLeft animated" data-wow-duration="1.3s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;" src="img/cir.png" alt="Circle">
                <img class="wow fadeInLeft animated" data-wow-duration="1.6s" style="visibility: visible;-webkit-animation-duration: 1.6s; -moz-animation-duration: 1.6s; animation-duration: 1.6s;" src="img/hand.png" alt="Hand">
                <img class="wow fadeInLeft animated" data-wow-duration="1.9s" style="visibility: visible;-webkit-animation-duration: 1.9s; -moz-animation-duration: 1.9s; animation-duration: 1.9s;" src="img/head.png" alt="Head">
                <img class="wow fadeInLeft animated" data-wow-duration="2.2s" style="visibility: visible;-webkit-animation-duration: 2.2s; -moz-animation-duration: 2.2s; animation-duration: 2.2s;" src="img/cube.png" alt="Cube">
                <img class="wow fadeInLeft animated" data-wow-duration="2.5s" style="visibility: visible;-webkit-animation-duration: 2.5s; -moz-animation-duration: 2.5s; animation-duration: 2.5s;" src="img/geom.png" alt="Geom">
              </div>
            </div>
          </div>
          <div class="focus-a-b__item wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
            <h3 class="">Foundational Technology Developments</h3>
            <div class="focus-a-f-2">
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
                <img src="img/quant.png" alt="Quantum">
                <p>Quantum Computing</p>
              </div>
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="2.2s" style="visibility: visible;-webkit-animation-duration: 2.2s; -moz-animation-duration: 2.2s; animation-duration: 2.2s;">
                <img src="img/cloud.png" alt="Cloud">
                <p>Cloud</p>
              </div>
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="2.4s" style="visibility: visible;-webkit-animation-duration: 2.4s; -moz-animation-duration: 2.4s; animation-duration: 2.4s;">
                <img src="img/mob-robo.png" alt="Mob-Robo">
                <p>Mobile Robots</p>
              </div>
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="2.6s" style="visibility: visible;-webkit-animation-duration: 2.6s; -moz-animation-duration: 2.6s; animation-duration: 2.6s;">
                <img src="img/sun.png" alt="Sun">
                <p>Machine Learning</p>
              </div>
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="2.8s" style="visibility: visible;-webkit-animation-duration: 2.8s; -moz-animation-duration: 2.8s; animation-duration: 2.8s;">
                <img src="img/3d.png" alt="3d">
                <p>3D Printing</p>
              </div>
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="3s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;">
                <img src="img/avr.png" alt="Avr">
                <p>AR/VR</p>
              </div>
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="3.2s" style="visibility: visible;-webkit-animation-duration: 3.2s; -moz-animation-duration: 3.2s; animation-duration: 3.2s;">
                <img src="img/5g.png" alt="5G">
                <p>5G</p>
              </div>
              <div class="focus-a-f-2__item wow animated fadeInRight" data-wow-duration="3.4s" style="visibility: visible;-webkit-animation-duration: 3.4s; -moz-animation-duration: 3.4s; animation-duration: 3.4s;">
                <img src="img/edge.png" alt="Edge">
                <p>Edge Computing</p>
              </div>
            </div>
          </div>
          <div class="focus-a-b__item">
            <div class="focus-a-f-3">
              <div class="focus-a-f-3__item wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
                <div class="img-wrap">
                  <img src="img/car2.png" alt="Car">
                </div>
                <h5>Transport</h5>
                <p>Real time Transport Management</p>
                <p>Dynamic Traffic Light Control</p>
                <p>Bus Management System</p>
              </div>
              <div class="focus-a-f-3__item wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
                <div class="img-wrap">
                  <img src="img/car2.png" alt="Car">
                </div>
                <h5>Logistics</h5>
                <p>Supply Chain Control Tower</p>
                <p>Warehouse Robotics</p>
                <p>Industrial 3D Printing</p>
              </div>
              <div class="focus-a-f-3__item wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
                <div class="img-wrap">
                  <img src="img/car2.png" alt="Car">
                </div>
                <h5>Environment</h5>
                <p>Robotics in Farming</p>
                <p>Water Operations Analytics</p>
                <p>Digital Farming</p>
              </div>
              <div class="focus-a-f-3__item wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
                <div class="img-wrap">
                  <img src="img/car2.png" alt="Car">
                </div>
                <h5>Healthcare</h5>
                <p>Electronic Health Records</p>
                <p>Patient Digital Care Plan</p>
                <p>Health Information Exchange</p>
              </div>
              <div class="focus-a-f-3__item wow fadeInUp animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;">
                <div class="img-wrap">
                  <img src="img/car2.png" alt="Car">
                </div>
                <h5>Sports</h5>
                <p>Exergaming</p>
                <p>Augmented Reality Gym</p>
                <p>Robotics Enhanced Training</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/projpar3.png" alt="parallax">
      <img src="img/projpar3.png" alt="parallax">
      <img src="img/recna.png" alt="parallax">
    </div>
  </div>
</section>