<section class="imp">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center  wow fadeInDown animated" data-wow-duration="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
        <h2 class="line-center">INNOVATION MANAGEMENT PROCESS</h2>
        <p>In essence, this capability is about bringing a lean model and practical approach to help priority sectors innovate around their key challenges, from ideas to outcomes</p>
      </div>
      <div class="col-md-8 text-center">
        <div class="imp-b">
          <div class="imp-b__i  wow fadeInDown animated" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;" data-text="Challenges from priority sectors">
            <h3>Key Challenges</h3>
          </div>
          <div class="imp-b__i imp-b__i_bg  wow fadeInDown animated" data-wow-duration="2s" style="visibility: visible;-webkit-animation-duration: 2s; -moz-animation-duration: 2s; animation-duration: 2s;" data-text="Involve experts, citizens and external stakeholders">
            <h3 class="wow fadeInUp animated" data-wow-duration="3s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;">Ideate</h3>
            <div class="imp-b__img-wrap wow fadeInUp animated" data-wow-duration="3.5s" style="visibility: visible;-webkit-animation-duration: 3.5s; -moz-animation-duration: 3.5s; animation-duration: 3.5s;">
              <img src="img/lampp.png" alt="Lamp">
            </div>
            <p class="wow fadeInUp animated" data-wow-duration="4s" style="visibility: visible;-webkit-animation-duration: 4s; -moz-animation-duration: 4s; animation-duration: 4s;">Apply a human centered approach to brainstorm
              and ideate to solve key challenges</p>
          </div>
          <div class="imp-b__i  wow fadeInDown animated" data-wow-duration="2.5s" style="visibility: visible;-webkit-animation-duration: 2.5s; -moz-animation-duration: 2.5s; animation-duration: 2.5s;">
            <h3>Select</h3>
            <div class="imp-b__img-wrap">
              <img src="img/funnel.png" alt="funnel">
            </div>
            <p>Select ideas for futher development</p>
          </div>
          <img src="img/proton.png" alt="Proton" class="wow fadeInDown animated" data-wow-duration="3s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;">
          <div class="imp-b__i  wow fadeInDown animated" data-wow-duration="3.5s" style="visibility: visible;-webkit-animation-duration: 3.5s; -moz-animation-duration: 3.5s; animation-duration: 3.5s;" data-text="Assess pilots outcomes">
            <h3>Decide</h3>
            <div class="imp-b__img-wrap">
              <img src="img/way.png" alt="way">
            </div>
            <p>Decide if idea should be scaled</p>
          </div>
          <div class="imp-b__i imp-b__i_bg imp-b__i_m  wow fadeInDown animated" data-wow-duration="4s" style="visibility: visible;-webkit-animation-duration: 4s; -moz-animation-duration: 4s; animation-duration: 4s;" data-text="Scale successful pilots">
            <h3>Impelement</h3>
            <div class="imp-b__img-wrap">
              <img src="img/figure.png" alt="figure">
              <img src="img/drone.png" alt="drone">
              <img src="img/phone.png" alt="phone">
            </div>
            <p>Scale and measure delivered value</p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/square.png" alt="Parallax">
      <img src="img/impo.png" alt="Parallax">
      <img src="img/projpar3.png" alt="Parallax">
      <img src="img/impc.png" alt="Parallax">
      <img src="img/impc2.png" alt="Parallax">
    </div>
  </div>
</section>