<section class="inn-space cont wow fadeInLeft animated">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <h2 class="line-center">INNOVATION SPACES</h2>
        <div class="inn-space__img-wrap">
          <img src="img/inpbg.png" alt="Scheme">
        </div>
      </div>
      <div class="cont-i col-md-6 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <div class="t-b">
          <img src="img/blue.png" alt="pic" class="hex">
          <h3>Tajarob</h3>
          <p>Tajarob is a <strong>workshop</strong> that allows the innovation lab. Teams to experiment with
            their concepts, products and prototypes when an idea is matured enough, this
            is the space where it can be put to test</p>
          <img src="img/orange.png" alt="pic" class="hex">
          <h3>Khayal</h3>
          <p>The <strong>AR/VR Room</strong>is a mixed reality development lab that is dedicated to using
            the latest technology to create mixed reality solutions. The space is designed
            to achieve the purpose of an open space that is modular to utilize space in the
            most effiient way.</p>
        </div>
      </div>
      <div class="cont-i col-md-5 offset-md-1 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <img src="img/pic12.png" alt="">
      </div>
      <div class="cont-i col-md-5 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <img src="img/pick1234.png" alt="pic">
      </div>
      <div class="cont-i col-md-6 offset-md-1 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <div class="t-b">
          <img src="img/green.png" alt="Green" class="hex">
          <h3>Tadreeb</h3>
          <p>A room specially created for the purpose of <strong>training</strong> with modular furniture and teleconference setup</p>
          <img src="img/blue.png" alt="Blue" class="hex">
          <h3>Istraha</h3>
          <p>A <strong>kitchenette</strong>, with an awesome view and a few tables to socialize and ideate while having a snack.</p>
        </div>
      </div>
      <div class="cont-i col-md-6 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <div class="t-b">
          <img src="img/orange.png" alt="pic" class="hex">
          <h3>Mathaf</h3>
          <p>The space where <strong>the solutions and demos</strong> will be exhibited by the
            Lab’s partners</p>
          <img src="img/purp.png" alt="pic" class="hex">
          <h3>Tashawer</h3>
          <p>A digitally enabled <strong>conference room</strong> , where meetings and discussions
            can take place.</p>
        </div>
      </div>
      <div class="cont-i col-md-5 offset-md-1 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <img src="img/pick2123.png" alt="pic">
      </div>
      <div class="cont-i cont-i_img col-md-6 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <img src="img/pick21232.png" alt="pic">
        <ul>
          <li>
            <p>NUMU</p>
            <p><strong>Even the largest trees sprout from the tiniest seed.</strong> Numu is an area where inspiration and ideas are being conceived. The unique seating area adorned with an emerging tree is the right kind of stimulus every ingenious
              mind craves for. The visual of the tree will be a constant reminder of the growth and success your ideas will see in the near future. </p>
          </li>
        </ul>
      </div>
      <div class="cont-i col-md-6 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <div class="t-b">
          <img src="img/blue.png" alt="Blue" class="hex">
          <h3>Injaz</h3>
          <p><strong>Only through hard work and dedication will you be able to reach your objective.</strong></p>
          <p>Injaz Is a collaborative <strong>working space</strong> that is designed to be an open yet provides the necessary privacy for the innovation Lab Teams. The workspace also hosts the technology that promotes collaboration, creation and
            innovation.</p>
          <ul>
            <li>
              <p>IBTIKAR</p>
              <p><strong>Progress can only be driven by change.</strong> Ibtikar is an area which endorses the idea of Innovation with the help of the latest technological tools encouraging knowledge-sharing and improvement.</p>
            </li>
            <li>
              <p>NIQASH</p>
              <p><strong>Human conversations spark ideas which in return ignite solutions.</strong>
                Niqash is a discussion area where you can sit down and have a chat. This networking space aids in bringing diverse people to converse and imagine various possibilities together. </p>
            </li>
            <li>
              <p>TARKIZ</p>
              <p><strong>Great concepts are sculpted with the right focus and attention.</strong> Tarkiz is an area where the on-wall standing desks let you have a moment to yourself, by turning your back on all the noise and clutter around you,
                clear your mind and get the needed concentration to push your ideas further.
              </p>
            </li>
            <li>
              <p>MUSHAKARA</p>
              <p><strong>Together, we can only do better.</strong> Musharaka is an area of communication and collaboration. The convenient whiteboard walls allow for idea sharing with our teammates and brainstorming enhancements and overall
                solutions together.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/is1.png" alt="parallax">
      <img src="img/projpar3.png" alt="parallax">
      <img src="img/projpar3.png" alt="parallax">
    </div>
  </div>
</section>