<div class="slider-c slider-c_c-f">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="line-center">co-founders</h2>
      </div>
      <div class="slider-c-b2 owl-carousel">
        <div class="slider-c-b__item">
          <img src="img/vod.png" alt="vod">
        </div>
        <div class="slider-c-b__item">
          <img src="img/gbm.png" alt="gbm">
        </div>
        <div class="slider-c-b__item">
          <img src="img/mc.png" alt="mc">
        </div>
        <div class="slider-c-b__item">
          <img src="img/cisco.png" alt="cisco">
        </div>
      </div>
    </div>
  </div>
</div>