<section class="form">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form>
					<label>
						Name
						<input type="text" name="name" placeholder="Your Name" required>
					</label>
					<label>
						Email Adress
						<input type="email" name="email" placeholder="Enter your email" required>
					</label>
					<label>
						Mobile Number
						<input type="tel" name="phone" placeholder="Enter number" required>
					</label>
					<label class="frnw">
						CV
						<input type="file" name="CV">
						<div class="btn-plus">
							<i class="fas fa-plus"></i>
						</div>
					</label>
					<label>
						Message
						<textarea placeholder="Text message"></textarea>
					</label>
					<button>Send</button>
				</form>
			</div>
		</div>
		<div class="parallax">
			<img src="img/rect.png" alt="parallax">
			<img src="img/square.png" alt="parallax">
		</div>
	</div>
</section>