<section class="act wow fadeInLeft animated" data-wow-duration="0.5s" style="visibility: visible;-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; animation-duration: 0.5s;">
	<div class="container">
		<div class="row">
			<a href="#"><i class="fas fa-angle-left"></i> Activities</a>
			<div class="col-12 text-center">
				<h2 class="line-center">ACTIVITY DETAILS</h2>
			</div>
		</div>
		<div class="parallax">
			<img src="img/rect.png" alt="Parallax">
			<img src="img/act1.png" alt="Parallax">
		</div>
	</div>
</section>