<header class="header">
	<div class="header-wrap">
		<div class="header__logo">
			<img src="img/logo.png" alt="Logo">
		</div>
		<ul class="header__list">
			<li><a class="active" href="#home">Home</a></li>
			<li><a href="#Teams">Project & Terms</a></li>
			<li><a href="#AboutUs">About Us</a></li>
			<li><a href="#Activities">Activities</a></li>
		</ul>
		<div class="header-m-menu">
			<a href="#">العربية</a>
			<div class="header-m-btn">
				<div class="header-hmb">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="header-m-menu-wrap">
					<div class="header-m-menu-close"></div>
					<ul class="header-m-menu-list">
						<li><a href="">Home</a></li>
						<li><a href="">Projects and Team</a></li>
						<li><a href="">About Us</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">Activity</a></li>
						<li><a href="">Ideas</a></li>
						<li><a href="">Publications</a></li>
						<li><a href="">Innovation in Qatar</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">Join Our Team</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
