<section class="reg">
  <div class="container">
    <h2 class="line-center">Registration</h2>
    <div class="form form_reg">
      <form action="">
        <div class="form-wrap">
          <label>
            Name
            <input type="text" name="name" placeholder="Your Name" required>
          </label>
          <label>
            Title
            <input type="text" name="title" placeholder="Enter name of Title" required>
          </label>
          <label>
            Mobile Number
            <input type="tel" name="phone" placeholder="Enter number" required>
          </label>
          <label>
            Email Adress
            <input type="email" name="email" placeholder="Enter your email" required>
          </label>
        </div>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="128" height="35" viewBox="0 0 128 35" fill="none">
            <path d="M9.01313 1.47042L0.419227 15.9704C-0.139743 16.9135 -0.139742 18.0865 0.419228 19.0296L9.01314 33.5296C9.55336 34.4411 10.5343 35 11.5939 35H115.431C116.491 35 117.472 34.4411 118.012 33.5296L126.606 19.0296C127.165 18.0865 127.165 16.9135 126.606 15.9704L118.012 1.47042C117.472 0.558923 116.491 0 115.431 0H11.5939C10.5343 0 9.55336 0.558923 9.01313 1.47042Z"
              fill="white"></path>
          </svg>
          Register
        </button>
      </form>
    </div>
  </div>
</section>