<section class="slider owl-carousel">
	<div>
		<div class="slider__item">
			<img src="img/slbg.png" alt="VR">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slider__t-b">
							<h2 class="line-left">How will the virtual reality <span class="cyan">system replace the controls of combat fighters ?</span></h2>
							<div>
								<time>05.10.18</time>
								<time>19:00</time>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="slider__item">
			<img src="img/slbg.png" alt="VR">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slider__t-b">
							<h2 class="line-left">How will the virtual reality <span class="cyan">system replace the controls of combat fighters ?</span></h2>
							<div>
								<time>05.10.18</time>
								<time>19:00</time>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="slider__item">
			<img src="img/slbg.png" alt="VR">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slider__t-b">
							<h2 class="line-left">How will the virtual reality <span class="cyan">system replace the controls of combat fighters ?</span></h2>
							<div>
								<time>05.10.18</time>
								<time>19:00</time>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
