<section class="jot jot_t-p">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 text-center">
				<h2 class="line-center wow fadeInLeft animated" data-wow-duration="0.5s" style="visibility: visible;-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; animation-duration: 0.5s;">TEAMS AND PROJECTS</h2>
				<p class="wow fadeInLeft animated" data-wow-duration="0.5s" style="visibility: visible;-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; animation-duration: 0.5s;">Lorem ipsum dolor sit amet, consectetur rem dolor sit amet,
					consectetur sed do eiusmod tempor incididunt ut labore et ullamco laboris nisi ut aliquip ex ea commodo. </p>
			</div>
			<div class="jot-cont">
				<div class="btn btn_pulse">
					<i class="fas fa-plus"></i>
				</div>
				<div class="t-b">
					<p>Submit</p>
					<p class="red">Project</p>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="img/mngpar.png" alt="parallax">
			<img src="img/square2.png" alt="parallax">
		</div>
	</div>
</section>