<section class="jot jot_t-p">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 text-center">
				<h2 class="line-center">TEAMS AND PROJECTS</h2>
				<p>Lorem ipsum dolor sit amet, consectetur rem dolor sit amet, consectetur sed do eiusmod tempor incididunt ut labore et ullamco laboris nisi ut aliquip ex ea commodo. </p>
			</div>
		</div>
		<div class="parallax">
			<img src="img/mngpar.png" alt="parallax">
			<img src="img/square2.png" alt="parallax">
		</div>
	</div>
</section>