<section class="l-projects">
	<div class="container">
		<h2>LATEST projects</h2>
		<div class="row justify-content-center">
			<div class="col-md-4">
				<a href="">
					<div class="l-projects-b">
						<img src="img/ball.png" alt="Ball">
						<h5>TAMUQ Emergency Drone</h5>
						<p>The country’s population is increasing day by day due to the development of Qatar</p>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="l-projects-b">
						<img src="img/car.png" alt="Ball">
						<h5>TAMUQ Emergency Drone</h5>
						<p>The country’s population is increasing day by day due to the development of Qatar</p>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="l-projects-b">
						<img src="img/med.png" alt="Ball">
						<h5>TAMUQ Emergency Drone</h5>
						<p>The country’s population is increasing day by day due to the development of Qatar</p>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="l-projects-b">
						<img src="img/car2.png" alt="Ball">
						<h5>TAMUQ Emergency Drone</h5>
						<p>The country’s population is increasing day by day due to the development of Qatar</p>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="l-projects-b">
						<img src="img/tree.png" alt="Ball">
						<h5>TAMUQ Emergency Drone</h5>
						<p>The country’s population is increasing day by day due to the development of Qatar</p>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="l-projects-b">
						<img src="img/tree.png" alt="Ball">
						<h5>TAMUQ Emergency Drone</h5>
						<p>The country’s population is increasing day by day due to the development of Qatar</p>
					</div>
				</a>
			</div>
		</div>
		<a href="" class="btn btn_prj">More Projects</a>
	</div>
</section>
