<section class="slider owl-carousel">
	<div class="slider__item">
		<img src="img/bigcar.png" alt="Car">
		<div class="container">
			<div class="row">
				<div class="slider__label">
					<div class="slider__wrap">
						<img src="img/truck.png" alt="Icon">
					</div>
					<span>Siminar</span>
				</div>
				<div class="col-md-12">
					<div class="slider__t-b">
						<h2 class="line-left">A Reliable, Secure,<br />
							and Privacy-Preserving<br /><span class="cyan">Solution for Wireless
								Electric Vehicle Charging</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider__item">
		<img src="img/bigcar.png" alt="Car">
		<div class="container">
			<div class="row">
				<div class="slider__label">
					<div class="slider__wrap">
						<img src="img/truck.png" alt="Icon">
					</div>
					<span>Siminar</span>
				</div>
				<div class="col-md-12">
					<div class="slider__t-b">
						<h2 class="line-left">A Reliable, Secure,<br />
							and Privacy-Preserving<br /><span class="cyan">Solution for Wireless
								Electric Vehicle Charging</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider__item">
		<img src="img/bigcar.png" alt="Car">
		<div class="container">
			<div class="row">
				<div class="slider__label">
					<div class="slider__wrap">
						<img src="img/truck.png" alt="Icon">
					</div>
					<span>Siminar</span>
				</div>
				<div class="col-md-12">
					<div class="slider__t-b">
						<h2 class="line-left">A Reliable, Secure,<br />
							and Privacy-Preserving<br /><span class="cyan">Solution for Wireless
								Electric Vehicle Charging</span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>