<section class="team">
  <div class="container">
    <h2 class="line-center">Team behind <span class="cyan">this project</span></h2>
    <div class="row">
      <div class="team-b">
        <div class="wow fadeInLeft animated team-b__i" data-wow-duration="0.5s" style="visibility: visible;-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; animation-duration: 0.5s;">
          <div class="img-wrap">
            <div class="img-wrap-c">
              <img src="img/girl1.png" alt="Girl">
            </div>
          </div>
          <p>Kat Kuzmeskas</p>
          <p>Founder, CEO</p>
        </div>
        <div class="wow fadeInLeft animated team-b__i" data-wow-duration="0.75s" style="visibility: visible;-webkit-animation-duration: 0.75s; -moz-animation-duration: 0.75s; animation-duration: 0.75s;">
          <div class="img-wrap">
            <div class="img-wrap-c">
              <img src="img/boy1.png" alt="Girl">
            </div>
          </div>
          <p>Feng Zhang</p>
          <p>Web-developer</p>
        </div>
        <div class="wow fadeInLeft animated team-b__i" data-wow-duration="1s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;">
          <div class="img-wrap">
            <div class="img-wrap-c">
              <img src="img/boy2.png" alt="Girl">
            </div>
          </div>
          <p>Andy Howhaned</p>
          <p>Financial Specialist</p>
        </div>
        <div class="wow fadeInLeft animated team-b__i" data-wow-duration="1.25s" style="visibility: visible;-webkit-animation-duration: 1.25s; -moz-animation-duration: 1.25s; animation-duration: 1.25s;">
          <div class="img-wrap">
            <div class="img-wrap-c">
              <img src="img/girl2.png" alt="Girl">
            </div>
          </div>
          <p>Amanda Shen</p>
          <p>PR Manager</p>
        </div>
      </div>
    </div>
  </div>
</section>