@media screen and (max-width: 1600px)
	.form
		.img-parallax
			display: none

@media screen and (max-width: 1280px)
	.inn-lab
		h1
			margin-bottom: 10px
		p
			margin-bottom: 20px

	.social
		&_clmn
			position: relative
			top: auto
			left: auto
			display: flex
			flex-flow: row nowrap
			padding: 0
			border: none
			margin: 0 0 25px
			a
				&:not(:last-child)
					margin: 0 15px 0 0

@media screen and (max-width: 1200px)
	.inn-lab
		padding: 195px 0 0
		.svg-wrap
			svg
				position: relative
				top: auto

@media screen and (max-width: 992px)
	h2
		font-size: 22px
	h3
		font-size: 20px
	h5
		font-size: 18px

	.header
		&__list
			display: none

	.halves
		&1, &2
			min-height: 350px
			padding: 0
			justify-content: center
			h2
				margin: 0

	.stream
		h2
			margin-left: 20px

	.l-projects, .about
		padding: 50px 0

	.footer
		text-align: center
		&-top, &-nav
			flex-flow: column nowrap
			align-items: center
		&-nav
			ul
				&:not(:last-child)
					margin-bottom: 20px
				li
					&:first-of-type
						margin-bottom: 0
		&-bot
			border: none

@media screen and (max-width: 767px)
	h1
		font-size: 24px
		margin-bottom: 30px
		line-height: 1.5
	h2
		font-size: 20px

	.header
		&-m
			&-menu
				&-wrap
				&-close
					left: 50%
					top: 30px
				&-list
					text-align: center
					li
						a
							font-size: 20px
							line-height: 40px

	.l-projects
		padding: 20px
		h2
			margin-bottom: 20px

	.jot
		.img-parallax
			display: none

	.img-wrap
		display: none

	.form
		label
			max-width: none

@media screen and (max-width: 490px)
	.footer
		&:after
			bottom: 100px
