<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="about-b">
					<h3><span class="cyan">Reach</span> to Us</h3>
					<div class="about-b__img-w">
						<img src="img/point.png" alt="Point">
					</div>
					<p>Al Nasr Tower<br>
						21st Floor</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about-b">
					<h3><span class="cyan">Call</span> Us</h3>
					<div class="about-b__img-w">
						<img src="img/serv.png" alt="Serv">
					</div>
					<p><a href="tel:97444444444">+974-44444444</a></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about-b">
					<h3><span class="cyan">Email</span> Us</h3>
					<div class="about-b__img-w">
						<img src="img/env.png" alt="Envelope">
					</div>
					<p><a href="mailto:info@ilab.gov.qa">info@ilab.gov.qa</a></p>
				</div>
			</div>
		</div>
	</div>
</section>