<section class="l-projects">
  <div class="container">
    <h2 class="line-center">LATEST projects</h2>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <a href="">
          <div class="l-projects-b">
            <div class="l-projects-b__img-w">
              <div class="l-projects-b__img-c">
                <img src="https://i.redd.it/5el0ahv4l5hz.jpg" alt="Pic from google">
              </div>
              <div class="l-projects-b__img-l">
                <img src="img/ball.png" alt="Ball">
              </div>
            </div>
            <h5 class="line-left line-left_w26">TAMUQ Emergency Drone</h5>
            <p>The country’s population is increasing day by day due to the development of Qatar</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="">
          <div class="l-projects-b">
            <div class="l-projects-b__img-w">
              <div class="l-projects-b__img-c">
                <img src="img/log.png" alt="truck">
              </div>
              <div class="l-projects-b__img-l">
                <img src="img/truck.png" alt="truck">
              </div>
            </div>
            <h5 class="line-left line-left_w26">TAMUQ Emergency Drone</h5>
            <p>The country’s population is increasing day by day due to the development of Qatar</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="">
          <div class="l-projects-b">
            <div class="l-projects-b__img-w">
              <div class="l-projects-b__img-c">
                <img src="img/tree.png" alt="Tree">
              </div>
              <div class="l-projects-b__img-l">
                <img src="img/plant.png" alt="Plant">
              </div>
            </div>
            <h5 class="line-left line-left_w26">TAMUQ Emergency Drone</h5>
            <p>The country’s population is increasing day by day due to the development of Qatar</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="">
          <div class="l-projects-b">
            <div class="l-projects-b__img-w">
              <div class="l-projects-b__img-c">
                <img src="img/car1.png" alt="Fruits">
              </div>
              <div class="l-projects-b__img-l">
                <img src="img/car2.png" alt="Ball">
              </div>
            </div>
            <h5 class="line-left line-left_w26">TAMUQ Emergency Drone</h5>
            <p>The country’s population is increasing day by day due to the development of Qatar</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="">
          <div class="l-projects-b">
            <div class="l-projects-b__img-w">
              <div class="l-projects-b__img-c">
                <img src="img/doc1.png" alt="Fruits">
              </div>
              <div class="l-projects-b__img-l">
                <img src="img/doc2.png" alt="Ball">
              </div>
            </div>
            <h5 class="line-left line-left_w26">TAMUQ Emergency Drone</h5>
            <p>The country’s population is increasing day by day due to the development of Qatar</p>
          </div>
        </a>
      </div>
    </div>
    <a href="" class="btn btn_prj">
      <svg xmlns="http://www.w3.org/2000/svg" width="128" height="35" viewBox="0 0 128 35" fill="none">
        <path d="M9.01313 1.47042L0.419227 15.9704C-0.139743 16.9135 -0.139742 18.0865 0.419228 19.0296L9.01314 33.5296C9.55336 34.4411 10.5343 35 11.5939 35H115.431C116.491 35 117.472 34.4411 118.012 33.5296L126.606 19.0296C127.165 18.0865 127.165 16.9135 126.606 15.9704L118.012 1.47042C117.472 0.558923 116.491 0 115.431 0H11.5939C10.5343 0 9.55336 0.558923 9.01313 1.47042Z"
          fill="white" />
      </svg>
      More Projects
    </a>
    <div class="parallax">
      <img src="img/projpar1.png" alt="Parallax">
      <img src="img/projpar2.png" alt="Parallax">
      <img src="img/projpar3.png" alt="Parallax">
    </div>
  </div>
</section>