<section class="projects">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-6 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <a href="">
          <div class="halves1">
            <h2>Our <span class="cyan">Projects</span></h2>
          </div>
        </a>
      </div>
      <div class="col-6 wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
        <a href="">
          <div class="halves2">
            <h2>Latest <span class="cyan">Blogs</span></h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>