<section class="inn-lab">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="t-b">
          <h1>WELCOME<br> TO INNOVATION LAB</h1>
          <div class="social social_clmn">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="t-b__wrap">
            <div class="t-b-f">
              <h5>About Us</h5>
              <p>Explore the Innovation Lab</p>
              <svg viewBox="0 0 222 138" fill="none">
                <path d="M222 0H47.3709C43.1145 0 39.1765 2.25477 37.0219 5.92559L3.56541 62.9256C1.36407 66.676 1.36407 71.324 3.56541 75.0744L37.0219 132.074C39.1765 135.745 43.1145 138 47.3709 138H222V0Z" fill="#00BFB3" />
                <path d="M222 0.5H47.3888C43.1228 0.5 39.1774 2.76489 37.0262 6.44885L4.03352 62.9488C1.85032 66.6876 1.85032 71.3124 4.03352 75.0512L37.0262 131.551C39.1774 135.235 43.1228 137.5 47.3888 137.5H222" stroke="white" />
              </svg>
            </div>
            <div class="t-b-s">
              <h5>Projects and Team</h5>
              <p>Have a look at the team and projects of the Innovation Lab</p>
              <svg viewBox="0 0 328 138" fill="none">
                <path d="M0 0H280.629C284.886 0 288.823 2.25477 290.978 5.92559L324.435 62.9256C326.636 66.676 326.636 71.324 324.435 75.0744L290.978 132.074C288.823 135.745 284.886 138 280.629 138H0V0Z" fill="#0D0D0D" />
                <path d="M0 0.5H280.611C284.877 0.5 288.823 2.76489 290.974 6.44885L323.966 62.9488C326.15 66.6876 326.15 71.3124 323.966 75.0512L290.974 131.551C288.823 135.235 284.877 137.5 280.611 137.5H0" stroke="white" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="svg-wrap" id="lottie" style="width: 552px;  height: 463px;">
        </div>
      </div>
      <div class="parallax">
        <img src="img/parhbg1.png" alt="Parallax">
        <img src="img/parhbg2.png" alt="Parallax">
        <img src="img/parhbg3.png" alt="Parallax">
        <img src="img/parhbg4.png" alt="Parallax">
      </div>
    </div>
  </div>
</section>