<section class="inn-lab">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="t-b">
          <h1>WELCOME<br> TO INNOVATION LAB</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="t-b__wrap">
            <div class="t-b-f">
              <h5>About Us</h5>
              <p>Explore the Innovation Lab</p>
            </div>
            <div class="t-b-s">
              <h5>Projects and Team</h5>
              <p>Have a look at the team and projects of the Innovation Lab</p>
            </div>
          </div>
          <div class="social social_clmn">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="svg-wrap" id="lottie" style="width: 552px;  height: 463px;">
        </div>
      </div>
    </div>
  </div>
</section>
