<section class="stream">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="halves1">
          <h2>Orientation<br> of the Innovation<br> <span class="cyan">Ecosystem in Qatar</span></h2>
        </div>
      </div>
      <div class="col-md-6">
        <a data-fancybox href="https://www.youtube.com/watch?v=S7sOZ_TFUXg&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
          <div class="halves2">
            <div class="btn btn_pulse">
              <div class="triangle"></div>
            </div>
            <h2>Watch Now<br><span class="red">Live Stream</span></h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>