<section class="b-blog">
  <header>
    <div class="container">
      <div class="row">
        <h2 class="line-center">Blog</h2>
      </div>
    </div>
  </header>
  <main>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-md-6 b-blog-1">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-7">
                <h2>How will the virtual reality
                  system replace the controls
                  of combat fighters?</h2>
              </div>
            </div>
          </div>
          <div class="b-blog-1">
            <h2></h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="b-blog-2"></div>
        </div>
      </div>
    </div>
  </main>
</section>